/* 
CSS datei 
*/
.hero-section {
    background-image: url('images/travel_background.jpg'); /* Pfad zum Hintergrundbild */
    background-size: cover;
    background-position: center;
    color: white;
    height: 75vh;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
  }
  .hero-section h1 {
    padding-top: 5%;
    font-weight: bold;
  }

  .home-text{
    color: rgb(42, 40, 40);
  }
 
  #card-box{
    margin-bottom: 30px;
  }
  .scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .scroll-container img {
    padding: 10px;
  }

  #deletBtn{
    margin-top: -20px;
    margin-left: -11px;
  }
  
  #spacing{
    margin-top: 20px;
    padding: 10px;
  }

#buttonGray{
  background-color: #333;
  color: white;
}

.messages {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.message-user {
  text-align: center;
  background-color: #bad7f4;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.message-assistant {
  text-align: center;
  background-color: #c7ead0;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.input-group {
  margin-top: 10px;
}

